group Main
    source https://nuget.org/api/v2

    nuget NLog
    nuget Common.Logging
    nuget Common.Logging.Portable
    nuget Common.Logging.NLog40
	nuget Microsoft.Bcl.Async
    nuget Newtonsoft.Json
    nuget Portable.BouncyCastle

group Tests
    source https://nuget.org/api/v2

    nuget Moq
    nuget NUnit
    nuget NFluent

group Fake
    source https://nuget.org/api/v2

    nuget FAKE
    nuget SourceLink.Fake
    nuget NUnit.Runners
    github fsharp/FAKE modules/Octokit/Octokit.fsx